.portfolio_cards__item {
  width: calc(50% - 10px);
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.portfolio_cards__item a {
  text-decoration: none;
}

.portfolio_cards__item_photo {
  width: 100%;
  max-height: 410px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: auto;
}

.portfolio_cards__item_title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  color: var(--main-white-color);
  margin-top: 10px;
  margin-bottom: 0;
}

.portfolio_cards__item_subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  margin-top: 5px;
  color: var(--main-light-grey-color);
}

.link:focus-visible {
  outline: none;
}

.link:focus-visible::before {
  outline: 2px solid #FFFFFF;
  outline-offset: 2px;
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 648px) {
  .portfolio_cards__item {
    width: 100%;
  }
}

@media screen and (max-width: 1520px) {
  .portfolio_cards__item_photo {
    max-height: 360px;
  }
}
