.portfolio_cards__item {
  width: calc(50% - 30px);
  cursor: pointer;
  list-style-type: none;
}

.portfolio_cards__item a {
  text-decoration: none;
}

.portfolio_cards__item_photo {
  width: 100%;
  background-size: cover;
  background-position: center;
  max-height: 328px;
  object-fit: cover;
}

.portfolio_cards__item_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--main-white-color);
  margin-top: 10px;
  margin-bottom: 0px;
}

.portfolio_cards__item_subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  margin-top: 5px;
  color: var(--main-light-grey-color);
}

@media screen and (max-width: 1280px) {
  .portfolio_cards__item_photo {
    max-height: 260px;
  }
}

@media screen and (max-width: 1020px) {
  .portfolio_cards__item_photo {
    max-height: 240px;
  }
}

@media screen and (max-width: 808px) {
  .portfolio_cards__item_photo {
    height: 100%;
    max-height: 430px;
  }
}

@media screen and (max-width: 804px) {
  .portfolio_cards__item {
    width: 100%;
  }
}
