.card_progress {
    position: absolute;
    bottom: 0;
}

.card_progress__line {
    background-color: #323232;
    width: calc(100% - 20px);
    height: 6px;
    margin-top: 5px;
}

.card_progress__line_fill {
    height: 6px;
    background-color: #fdfdfd;
}