.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.language_switch__item {
  text-decoration: none;
  margin-left: 5px;
  font-size: 24px;
}

.header_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F5F5F5;
  font-family: 'Open Sans';
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1440px;
}

.selection_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: start;
  font-family: "Open Sans";
  color: #F5F5F5;
  margin-bottom: 10px;
  margin-top: 20px;
}

.line_flex .card {
  padding: 0;
}

.country_line {
  font-family: "Open Sans", sans-serif;
  background-color: #323232;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.countryFlag {
  width: 32px;
  height: 20px;
  border-radius: 0;
  object-fit: cover;
}

.unk {
  margin-top: -2px;
  margin-left: 4px;
}

.browser_line {
  font-family: "Open Sans", sans-serif;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}

.country_line_count {
  margin-left: 8px;
}


.country_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.os_container {
  margin-left: 5px;
  list-style-type: none;
  font-size: 14px;
}

.browser_container {
  margin-left: 5px;
  list-style-type: none;
  font-size: 14px;

  display: flex; 
  flex-wrap: wrap;
}

.card_progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.card_progress__nums {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 15px;

  padding-left: 2px;
  padding-right: 2px;
}

.card_progress__num {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
  position: absolute;
  bottom: 12px;
}

.card_progress__line {
  background-color: #323232;
  width: 100%;
  height: 6px;
  margin-top: 5px;
}

.card_progress__line_fill {
  height: 6px;
  background-color: #fdfdfd;
}

.project_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(25% - 15px);
  height: 140px;
  background-color: #212121;
}

.project_card_image {
  object-fit: cover;
  width: 170px;
  height: 140px;
  margin-bottom: -4px;
}

.project_categories {
  margin-left: 15px;
  margin-top: 5px;
}

.project_categories__item {
  font-family: "Open Sans";
  font-size: 14px;
  color: #A6A6A6;
}

.description {
  padding: 8px;
  padding-left: 12px;
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.description_count {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F5F5F5;
  text-align: start;
  font-family: "Open Sans";
}

.description_subcount {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
  margin-top: 6px;
  margin-left: 8px;
}

.project_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #A6A6A6;
  margin-top: 6px;
  margin-bottom: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.browser {
  width: 14px;
  margin-right: 12px;
}


@media screen and (max-width: 1330px) {
  .project_card {
      width: calc(33.3333% - 15px);
  }
}

@media screen and (max-width: 1000px) {
  .project_card {
      width: calc(33.3333% - 10px);
  }
  .line {
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 1000px) {
  .project_card {
      width: calc(50% - 10px);
  }
}
@media screen and (max-width: 700px) {
  .project_card {
      width: calc(100%);
  }

  .header_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .language_switch__item {
    font-size: 18px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.card_full {
  margin-top: 10px;
}


/* * GRID  */
.general_container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 140px 140px;
  grid-auto-flow: row;
  grid-template-areas:
    "visits unique_visits total_bots average_time_spent first_stat first_stat first_stat first_stat"
    "top_countries top_countries top_browsers top_browsers top_os second_stat second_stat second_stat";
  gap: 10px 10px; 
}

.second_stat { grid-area: second_stat; }
.first_stat { grid-area: first_stat; }
.visits { grid-area: visits; }
.unique_visits { grid-area: unique_visits; }
.total_bots { grid-area: total_bots; }
.average_time_spent { grid-area: average_time_spent; }
.top_browsers { grid-area: top_browsers; }
.top_os { grid-area: top_os; }
.top_countries { grid-area: top_countries; }

.grid_card {
  height: 100%;
  background-color: #212121;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  position: relative;
}

.card_count_container {
  padding: 5px;
}

.card_count {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #F5F5F5;
  text-align: start;
  font-family: "Open Sans";
}

.card_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A6A6A6;
  margin-top: 6px;
  display: flex;
  height: 36px !important;
}

.top_countries .card_title,
.top_browsers .card_title,
.top_os .card_title {
  margin-left: 10px;
  margin-top: 5px;
}

/* * GRID */


@media screen and (max-width: 1330px) {
  .general_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px;
    grid-template-areas:
      "visits unique_visits total_bots average_time_spent"
      "first_stat first_stat second_stat second_stat"
      "top_countries top_countries top_browsers top_os ";
    }
}

@media screen and (max-width: 1030px) {
  .general_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px 140px;
    grid-template-areas:
      "visits unique_visits total_bots average_time_spent"
      "first_stat first_stat first_stat first_stat"
      "second_stat second_stat second_stat second_stat"
      "top_countries top_countries top_browsers top_os";
    }
}
@media screen and (max-width: 735px) {
  .general_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px 140px 140px 140px;
    grid-template-areas:
      "visits visits unique_visits unique_visits"
      "total_bots total_bots average_time_spent average_time_spent"
      "first_stat first_stat first_stat first_stat"
      "second_stat second_stat second_stat second_stat"
      "top_browsers top_browsers top_os top_os"
      "top_countries top_countries top_countries top_countries";
    }
}