.main_screen {
  padding-left: 8.125rem;
  padding-right: 8.125rem;

  position: relative;
  height: 702px;
  overflow-x: hidden;
}

.main_screen__line {
  position: absolute;
  border: 1px solid var(--main-dark-grey-color);
}

.main_screen__line_left {
  height: 0px;
  width: 0px;
  left: 130px;
  top: 298px;

  -webkit-animation: increase_first 0.25s;
  -moz-animation:    increase_first 0.25s; 
  -o-animation:      increase_first 0.25s; 
  animation:         increase_first 0.25s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes increase_first {
  100% {
    height: 170px;
    top: 128px;
  }
}

.main_screen__line_top {
  width: 0;
  height: 0px;
  left: 245px;
  top: 72px;

  -webkit-animation: increase_second 1s;
  -moz-animation:    increase_second 1s; 
  -o-animation:      increase_second 1s; 
  animation:         increase_second 1s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes increase_second {
  0% {
    width: 0px;
  }
  50% {
    width: 0px;
  }
  100% {
    width: calc(100% - 415px);
  }
}



.main_screen__line_right_top {
  height: 0px;
  width: 0px;
  right: 130px;
  top: 140px;

  -webkit-animation: increase_third 1.5s;
  -moz-animation:    increase_third 1.5s; 
  -o-animation:      increase_third 1.5s; 
  animation:         increase_third 1.5s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes increase_third {
  0% {
    border: none;
  }
  74% {
    border: none;
  }
  75% {
    border: 1px solid var(--main-dark-grey-color);
    height: 0px;
  }
  100% {
    height: 120px;
  }
}

.main_screen__line_right_bottom {
  height: 0px;
  width: 0px;
  right: 130px;
  top: 455px;


  -webkit-animation: increase_fourth 2s;
  -moz-animation:    increase_fourth 2s; 
  -o-animation:      increase_fourth 2s; 
  animation:         increase_fourth 2s; 
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes increase_fourth {
  0% {
    border: none;
  }
  74% {
    border: none;
  }
  75% {
    border: 1px solid var(--main-dark-grey-color);
    height: 0px;
  }
  100% {
    height: 190px;
  }
}

.full_name {
  margin-top: 0px;
}

.image_back {
  background-image: url("../../images/main_back.jpg");
  opacity: 0.5;
  background-size: cover;
  background-position: top;

  width: 410px;
  height: 0;

  position: absolute;
  left: 283px;

  z-index: -1;

  animation:         image_back_amination 2s; 
  animation-fill-mode: forwards;
}

@keyframes image_back_amination {
  0% {
    height: 0px;
    top: 652px;
  }
  100% {
    height: 702px;
    top: -58px;
  }
}

.prewiew_text {
  position: absolute;
  left: 432px;
  top: auto;
  bottom: 280px;
  min-width: 777px;
}

.line_1, .line_2 {
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.anim_typewriter{
  animation: typewriter 1s steps(10) 0.2s 1 normal both, blinkTextCursor 800ms steps(10) infinite normal;
}

.anim_typewriter_2 {
  animation: typewriter_2 1s steps(9) 0.2s 1 normal both, blinkTextCursor 800ms steps(9) infinite normal ;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@keyframes typewriter_2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from{ border-right-color: rgba(255,255,255,.75); }
  to{ border-right-color: rgb(0, 0, 0) }
}

.prewiew_text__small{
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 84px;

  color: var(--main-light-grey-color);
}

.prewiew_text__small span {
  color: var(--main-light-grey-color);
}

.prewiew_text__large {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 144px;
  line-height: 189px;

  /* identical to box height */

  color: var(--main-white-color);
  margin-top: -10px;
}

.half_color {
  position: relative;
  display: inline-block;
  color: var(--main-grey-shadow-color-text);
}

.half_color::before {
  content: attr(id);
  color: var(--main-dark-grey-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 68%;
  overflow: hidden;
}

.quote {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;

  color: var(--main-white-color);

  position: absolute;
  left: 715px;

  max-width: 470px;
  overflow: hidden;

}

.animation_quote {
  animation: quote__animation 1s ease-in-out forwards;
}

@keyframes quote__animation {
  0% {
    top: 551px;
    height: 0px;
  }
 
  100% {
    height: 86px;
    top: 465px;
  }
}

.btn_to_portfolio {
  height: 63px;
  top: 639px;

  background: var(--main-white-color);
  border: none;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: var(--main-dark-black-color);

  position: absolute;
  left: 715px;
  top: 580px;

  cursor: pointer;

  animation:         btn_to_portfolio_animatoin 2s; 
  animation-fill-mode: forwards;

  white-space: nowrap;

  padding-left: 5px;
}

@keyframes btn_to_portfolio_animatoin {
  0% {
    width: 0px;
  }
  100% {
    width: 319px;
  }
}

.icons_social_media {
  position: absolute;
  top: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  right: -180px;
  cursor: pointer;
}


.icons__item a img {
  width: 24px;
}


.flipped_over_text {
	transform: rotate(-90deg) translate(0, -100%);

  position: absolute;

  width: 400px;

  white-space: nowrap;
  overflow: hidden;

  animation: flipped_over 1s ease-in-out forwards;
}


@keyframes flipped_over {
  0% {
    left: 400px;
    bottom: -44px;
    width: 0;
  }
 
  100% {
    left: 140px;
    bottom: 220px;
    width: 518px;
  }
}


.flipped_over_text__grey {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 92px;

  color: var(--main-dark-grey-color);
}

@media screen and (max-width: 1365px) {
  .prewiew_text {
    left: auto;
    right: 170px;
  }
}

@media screen and (max-width: 1330px) {
  .quote {
    left: auto;
    right: 170px;
  }
  .btn_to_portfolio {
    left: auto;
    right: 319px;
  }
}

@media screen and (max-width: 1300px) {
  .prewiew_text__small {
    font-size: 57.6px;
    line-height: 75.6px;
  }
  .prewiew_text__large {
    font-size: 129.6px;
    line-height: 170.1px;
  }
  .prewiew_text {
    right: 190px;
    min-width: 442px;
  }
}

@media screen and (max-width: 1255px) {
  .prewiew_text__small {
    font-size: 51.2px;
    line-height: 67.2px;
  }
  .prewiew_text__large {
    font-size: 115.2px;
    line-height: 151.2px;
  }
  .prewiew_text {
    right: 190px;
    min-width: 442px;
  }
}

@media screen and (max-width: 1155px) {
  .prewiew_text__small {
    font-size: 44.8px;
    line-height: 58.8px;
  }
  .prewiew_text__large {
    font-size: 100.8px;
    line-height: 132.3px;
  }
  .prewiew_text {
    right: 190px;
    min-width: 442px;
  }
}

@media screen and (max-width: 1060px) {
  .prewiew_text__small {
    font-size: 38.4px;
    line-height: 50.4px;
  }
  .prewiew_text__large {
    font-size: 86.4px;
    line-height: 113.4px;
  }
  .prewiew_text {
    right: 176px;
    min-width: 442px;
  }
}

@media screen and (max-width: 1000px) {
  .main_screen {
    height: 660px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .main_screen__line_left {
    left: 55px;
  }

  .main_screen__line_right_top, 
  .main_screen__line_right_bottom {
    right: 55px;
  }



  .main_screen__line_top {
    left: 160px;
    -webkit-animation: increase_second 1s;
    -moz-animation:    increase_second 1s; 
    -o-animation:      increase_second 1s; 
    animation:         increase_second 1s; 
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes increase_second {
    0% {
      width: 0px;
    }
    50% {
      width: 0px;
    }
    100% {
      width: calc(100% - 275px);
    }
  }
  

  .flipped_over_text__grey {
    font-size: 64px;
    line-height: 84px;
  }

  .flipped_over_text__desktop {
    bottom: calc(50% - 92px);
    left: -20px !important;
  }

  .image_back {
    left: 175px;
  }

  .flipped_over_text {
    animation: flipped_over 1s ease-in-out forwards;
  }
  
  
  @keyframes flipped_over {
    0% {
      left: 287px;
      width: 0;
    }
   
    100% {
      left: 23px;
      width: 618px;
    }
  }  

  .prewiew_text,
  .quote,
  .btn_to_portfolio {
    left: 230px;
    right: auto;
  }
}

@media screen and (min-width: 810px) {
  .flipped_over_text__mobile {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  .flipped_over_text__mobile {
    animation: none;
  }
  .flipped_over_text {
    
  }

  .flipped_over_text__desktop {
    display: none;
  }
  .main_screen {
    height: 660px;
    margin-left: 0;
    margin-right: 0;

    padding-left: 35px;
    padding-right: 35px;
  }

  .icons_social_media {
    right: 25px;
  }

  .main_screen__line_top {
    top: 42px;
    left: 190px;
    -webkit-animation: increase_second 1s;
    -moz-animation:    increase_second 1s; 
    -o-animation:      increase_second 1s; 
    animation:         increase_second 1s; 
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes increase_second {
    0% {
      width: 0px;
    }
    50% {
      width: 0px;
    }
    100% {
      width: calc(100% - 275px);
    }
  }

  .main_screen__line_right_top, .main_screen__line_right_bottom {
    right: 34px;
  }

  .main_screen__line_right_top {
    top: 135px;
  }

  .main_screen__line_right_bottom {}

  .image_back {
    right: 0;
    left: auto;
    top: 0;
    width: 236px;
    height: 513px;
    animation: none;
    background-position: -20px;
  }

  .quote {
    left: 22px;
    top: 580px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    max-width: calc(100% - 60px) !important;
    width: 337px !important;
    top: 540px;
  }

  
  .btn_to_portfolio {
    left: 22px;
    top: 610px;

    width: 227px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }

  @keyframes btn_to_portfolio_animatoin {
    0% {
      width: 0px;
    }
    100% {
      width: 227px;
    }
  }

  .prewiew_text {
    right: auto;
    
    width: auto;
    max-width: none;

    transform: rotate(90deg);
    padding-left: 34px;
    margin-left: 20px;
    min-width: 545px;
    min-height: 145px;
    left: -210px;
    top: 200px;
  }



  .flipped_over_text {
    left: auto;
    right: -80px;
    bottom: 296px;
  }
  
  @keyframes flipped_over {
    0% {
      left: auto;
      right: 10px;
      width: 0;
    }
   
    100% {
      left: auto;
      right: -139px;
      bottom: 360px;
      width: 518px;
    }
  }
  

  .flipped_over_text__grey {
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    color: var(--main-grey-shadow-color-text);
  }

  .prewiew_text__small {
    font-size: 42px;
  }

  .prewiew_text__large {
    font-size: 85px;
  }

  .main_screen__line_left {
    display: none;
  }
}

@media screen and (max-width: 560px) {

  /* @keyframes flipped_over {
    0% {
      left: 287px;
      width: 0;
    }
   
    100% {
      left: 18px;
      width: 644px;
    }
  }   */
}

@media screen and (max-width: 400px) {
  .quote {
    font-size: 15px;
  }

  .btn_to {
    top: 650px;
    width: 202px;
    height: 36px;
    font-size: 16px;
    line-height: 25px;
  }
}