.portfolio_screen {
  margin-top: 180px;

  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 0;
}

.portfolio_title_image {
  max-width: 100%;
  height: auto;
}

.portfolio_screen__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.portfolio_screen__tabs_item {
  cursor: pointer;
  padding: 10px 30px 10px 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: var(--main-light-grey-color);
  background-color: transparent;
  border: none;
}

.portfolio_screen__tabs_item:nth-child(1) {
  justify-self: start;
}
.portfolio_screen__tabs_item:nth-child(3) {
  justify-self: start;
}
.portfolio_screen__tabs_item:nth-child(2) {
  justify-self: end;
}
.portfolio_screen__tabs_item:nth-child(4) {
  justify-self: end;
}

.tabs_item_active {
  border: 1px solid var(--main-white-color);
  padding: 9px 29px 9px 29px;
  color: var(--main-white-color);
}

.portfolio_cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* gap: 60px; */
  row-gap: 60px;
  column-gap: 20px;
}

.portfolio_screen__show_more_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.portfolio_screen__show_more {
  width: 163px;
  height: 45px;
  border: 1px solid var(--main-light-grey-color);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: 40px;
  color: var(--main-light-grey-color);
  background: transparent;
  cursor: pointer;
}

.portfolio_title_image {
  width: 100%;
  margin-bottom: 45px;
  height: auto;
}

@media screen and (max-width: 1360px) {
  .portfolio_screen {
    padding: 9.7vw 9.7vw 0;
  }
}

@media screen and (max-width: 1020px) {
  .portfolio_screen {
    padding: 60px;
  }
}


@media screen and (max-width: 804px) {
  .portfolio_screen {
    padding: 22px;
    margin-top: 76px;
  }
}

@media screen and (max-width: 1000px) {
  .btn_to_portfolio {
    width: 320px;
    left: 220px;
    top: 490px;
  }

  .portfolio_screen__tabs_item {
    width: 210px;
    height: 63px;
    font-size: 20px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .portfolio_screen__show_more {
    margin-top: 25px;
  }
}

@media screen and (max-width: 648px) {
  .portfolio_screen {
    margin-top: 164px;
  }

  .portfolio_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 784px) {
  .portfolio_screen__tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    gap: 10px 10px;
  }
}

@media screen and (max-width: 667px) {
  .portfolio_screen__tabs_item {
    width: 156px;
    height: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 395px) {
  .portfolio_screen__tabs_item:nth-child(1) {
    justify-self: center;
  }
  .portfolio_screen__tabs_item:nth-child(3) {
    justify-self: center;
  }
  .portfolio_screen__tabs_item:nth-child(2) {
    justify-self: center;
  }
  .portfolio_screen__tabs_item:nth-child(4) {
    justify-self: center;
  }

  .portfolio_screen__tabs_item {
    width: 100%
  }
}